/* .header {
  position: sticky;
  z-index: 99999;
  top: 0px;
} */

.snack-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2em;
  display: flex;
  flex-direction: row;
  background-color: #f2f4f5;
  height: 25em;
  position: sticky;
  z-index: -1;
  top: 100px;
}
.snack-card img {
  padding: 2em;
}

.snack-list {
  margin: 2em;
  margin-bottom: 5em;
}
.card-info, .reviews {
  padding: 2em;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-body input {
  margin: .5em;
}

.hidden {
  display: none;
}

.row-main {
  display: flex;
  flex-direction: row;
}